@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("bg.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    padding-top: 60px;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background: linear-gradient(rgb(170, 236, 170), rgb(236, 236, 167));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

/* Controls */
#control{
    display: grid;   
    grid-template-areas:
    "top top top top"
    "left left right right"
    "bottom bottom bottom bottom";
}

.btn{
    background-color: silver;
    color: white;
    padding: 10px 20px;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    
}

#top{
grid-area: top;
}

#left{
grid-area: left;
    position: relative;
    left: -50px; 
}

#right{
    grid-area: right;  
    position: relative;
    right: -50px;
    
}

#bottom{
    grid-area: bottom;  
}


.head{
/*   background-image: url("head.png");
  background-size: 100% 100%;
  width: 5vmin;
  height: 5vmin;
  transform: rotate(90deg); */
  
    background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 9px;
}



.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
  background-image: url('fruit.png');  
  background-size: 100% 100%;
    width: 5vmin;
    height: 5vmin; 
/*     background: linear-gradient(red, purple); */
/*     border: .25vmin 1solid black; */
    border-radius: 8px;
}